---
import type {Playlist} from "@/lib/data";
import Item from "@/components/Aside/Item.astro"
import PlaylistCard from "@/components/Aside/PlaylistCard.astro";
import {Home, Search, Library} from "@/icons/AsideIcons";

interface Props
{
    playlists: Playlist[];
};

const {playlists} = Astro.props;
const isHome = Astro.params?.id ? false : true;
---


<nav class="h-full flex flex-col gap-2">
    <div class="bg-[#121212] rounded-lg">
        <ul class="py-2 px-3">
            <Item href="/#">
                {
                    isHome ? <Home styles="h-6 w-6 fill-primary" type="filled"/>
                    :
                    <Home styles="h-6 w-6 fill-current" type=""/>
                }
                <span class:list={[isHome && "text-primary"]}>Home</span>
            </Item>
            
            <Item href="/#">
                <Search styles="h-6 w-6 fill-current" type=""/>
                <span>Search</span>
            </Item>
        </ul>
    </div>
    
    <div class="bg-[#121212] rounded-lg h-full">
        <ul class="py-2 px-3">
            <Item type="button">
                <Library styles="h-6 w-6 fill-current" type="filled"/>
                <span>Your Library</span>
            </Item>
        </ul>
        
        <ul>
            {
                playlists.map(playlist => <PlaylistCard playlist={playlist} pinned={playlist.pinned} />)
            }
        </ul>
    </div>
</nav>