---
interface Props
{
    href?: string;
    type?: string;
};

const {href, type} = Astro.props;
---


<li class="px-3 py-1">
    {
        type === "button" ?
        <button class="h-10 flex content-center gap-5 text-secondary hover:text-primary items-center font-bold transition duration-200">
            <slot />
        </button>
        :
        <a href={href} class="h-10 flex content-center gap-5 text-secondary hover:text-primary items-center font-bold transition duration-200">
            <slot />
        </a>
    }
</li>