---
import {ArrowLeft, ArrowRight, GitHub} from "@/icons/MainIcons";
---


<div class="h-14 w-full py-2">
    <div class="flex items-center justify-between">
        <div class="h-8 w-[72px] flex justify-between">
            <button class="bg-[#0f0f0f] size-8 flex items-center justify-center rounded-full border-none" onclick="goBack()">
                <ArrowLeft styles="size-4 fill-[#b3b3b3]"/>
            </button>
            
            <button class="bg-[#0f0f0f] size-8 flex items-center justify-center rounded-full border-none" onclick="goForward()">
                <ArrowRight styles="size-4 fill-[#b3b3b3]"/>
            </button>
        </div>
        <div class="h-8 flex justify-between items-center">
            <a href="https://github.com/juanplldev/spotify-clone" class="size-8 flex items-center justify-center rounded-full border-none bg-[#0f0f0f] hover:scale-105" target="_blank">
                <GitHub styles="size-7 fill-[#b3b3b3] hover:fill-[#fff] transition duration-100"/>
            </a>
        </div>
    </div>
</div>

<script is:inline>
    function goBack()
    {
        window.history.back();
    };
    
    function goForward()
    {
        window.history.forward();
    };
</script>