---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Main/Header.astro";
import Background from "@/components/Main/Background";
import TopPlaylistCard from "@/components/Main/TopPlaylistCard.astro";
import MainPlaylistCard from "@/components/Main/MainPlaylistCard.astro";
import {playlists} from "@/lib/api";

const currentDate = new Date();
const currentTime = currentDate.getHours();
---


<Layout title="Spotify-clone">
    <div id="main-container" class="relative h-full w-full py-2 px-6 rounded-lg bg-[#121212] z-10">
        
        <header>
            <Background color="" />
            <Header/>
            
            <div class="flex items-center py-2">
                <h2 class="font-bold text-3xl">
                    {
                        currentTime >= 20 || currentTime < 6 ? "Good night"
                        :
                        currentTime >= 12 ? "Good afternoon"
                        :
                        "Good morning"
                    }
                </h2>
            </div>
        </header>
        
        <ul class="min-40 w-full pt-2 gap-2 grid grid-cols-2 grid-rows-4 xl:gap-x-3 xl:grid-cols-4 xl:grid-rows-2">
            {
                playlists.map(playlist => <TopPlaylistCard playlist={playlist} />)
            }
        </ul>
        
        <div class="w-full mt-7">
            <h2 class="font-bold text-2xl">Made for you</h2>
            
            <ul class="flex flex-wrap -ml-3">
                {
                    playlists.map(playlist => <MainPlaylistCard playlist={playlist} />)
                }
            </ul>
        </div>
    </div>
</Layout>


<script>
    // const headerPlaylist = document.getElementById("header-playlist");
    // const gradientContainer = document.getElementById("gradient-container");
    // colo
    // headerPlaylist?.addEventListener("mouseover", e => {
    //     // gradientContainer
        
    // });
</script>